<% if items.present? %>
  <div class="row">
    <% items.each do |item| %>
      <div class="item">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <img src="<%= item.image_url %>" alt="" >
            </div>
            <div class="panel-body">
              <% if item.persisted? %>
                <p class="item-title"><%= link_to item.name, item %></p>
              <% else %>
                <p class="item-title"><%= item.name %></p>
              <% end %>
              <div class="buttons text-center">
                <% if logged_in? %>
                  <%= render 'ownerships/want_button', item: item %>
                  <%= render 'ownerships/have_button', item: item %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>